@model yyytours.Models.Trip

@{
    ViewData["Title"] = "Delete";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>מחיקה</h1>

<h3>האם אתה בטוח שאתה רוצה למחוק את הטיול?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guide.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeInHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeInHours)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימת הטיולים</a>
    </form>
</div>
