@using Microsoft.AspNetCore.Http;
@model Trip
@{
    ViewData["Title"] = $"{Model.Place.Name} - {Model.DisplayName}";
}
@section Styles {
    <link href="@Url.Content("~/css/TripDetails.css")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron jumbotron-fluid">
    <h1>@Html.DisplayFor(model => model.DisplayName)</h1>
    <p class="lead">@Html.Display(Model.Date.ToShortDateString())</p>
</div>

<img id="place" src="@Model.Place.ImageUrl" alt="">

<div class="container">
    <h3>מידע על הטיול</h3>
    <canvas id="myCanvas" width="100" height="50"> </canvas>
    <table class="table">
        <tr>
            <td>שם המדריך: </td>
            <td>@Html.DisplayFor(model => model.Guide.FullName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Date):</td>
            <td>יום @Html.DisplayFor(model => model.GetTripDayInHebrew) ה- @Html.DisplayFor(model => model.Date)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TimeInHours):</td>
            <td>@Html.DisplayFor(model => model.TimeInHours) שעות (סיום משוער בשעה @Model.GetEndDateTime.ToShortTimeString())</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Description):</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Price):</td>
            <td>@Html.DisplayFor(model => model.Price) ש״ח לאדם</td>
        </tr>
    </table>
    @if (Context.Session.GetString("FullName") != null)
    {
<div>
    <button type="button" class="btn btn-primary"><a style="text-decoration:none; color:white" asp-action="Register" asp-route-tripID="@Model.ID">להרשמה</a></button>
</div>
    }
    <h3>מידע על המקום</h3>
    <div class="row">
        <div class="col-sm-8">
            <table class="table">
                <tr>
                    <td>שם האתר:</td>
                    <td>@Html.DisplayFor(model => model.Place.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Place.Description): </td>
                    <td class="mult-col">@Html.DisplayFor(model => model.Place.Description)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Place.Wethear): </td>
                    <td class="mult-col">@Html.DisplayFor(model => model.Place.Wethear) C°</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <script type='text/javascript'>
    var map, searchManager;
    function GetMap() {
        map = new Microsoft.Maps.Map('#myMap', {});
        //Make a request to geocode New York, NY.
        geocodeQuery(@Html.Raw("\"" + Model.Place.Name + "\""));
    }
    function geocodeQuery(query) {
        //If search manager is not defined, load the search module.
        if (!searchManager) {
            //Create an instance of the search manager and call the geocodeQuery function again.
            Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                searchManager = new Microsoft.Maps.Search.SearchManager(map);
                geocodeQuery(query);
            });
        } else {
            var searchRequest = {
                where: query,
                callback: function (r) {
                    //Add the first result to the map and zoom into it.
                    if (r && r.results && r.results.length > 0) {
                        var pin = new Microsoft.Maps.Pushpin(r.results[0].location);
                        map.entities.push(pin);
                        map.setView({ bounds: r.results[0].bestView });
                    }
                },
                errorCallback: function (e) {
                    //If there is an error, alert the user about it.
                    alert("No results found.");
                }
            };
            //Make the geocode request.
            searchManager.geocode(searchRequest);
        }
                }

            </script>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>

            <script>
                $(document).ready(function () {
                    $.ajax({
                        type: "GET",
                        crossDomain: true,
                        dataType: 'script',
                        url: "https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AnLRbROtdXWlvP4UWt9svJoavuZ4iZ-ZdHOhUFeXSkQCrZ8JETrm0dSZ83SDChzG",
                        success: function (data) {
                            data;
                        }
                    })
                });
            </script>
            
            <div id="myMap" style="position:relative;width:350px;height:250px;"></div>
        </div>
    </div>
    <div>

        @if (Context.Session.GetString("FullName") != null)
        {
            @if ((UserType)Context.Session.GetInt32("Type") == UserType.Admin)
            {
                <a asp-action="Edit" asp-route-id="@Model.ID">עריכת הטיול</a> <span> | </span>
            }
        }
        <a asp-action="Catalog">חזרה לקטלוג</a>
    </div>


<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var difficulty = @Model.TimeInHours > 4 ? "רמת קושי גבוהה" : "רמת קושי נמוכה";
    c.title = difficulty;
    // Create gradient
    var grd = ctx.createLinearGradient(0, 0, 200, 0);
    var color = @Model.TimeInHours > 4 ? "red" : "green";

    grd.addColorStop(0, color);

    // Fill with gradient
    ctx.fillStyle = grd;
    ctx.fillRect(0, 0, 100, 50);
</script>