@model IEnumerable<yyytours.Models.Trip>

@{
    ViewData["Title"] = "טיולים";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">יצירת טיול חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guide.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInHours)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">דף טיול</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">עריכה</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">מחיקה</a>
            </td>
        </tr>
}
    </tbody>
</table>
