@model IEnumerable<yyytours.Models.User>

@{
    ViewData["Title"] = "רשימת משתמשים";
    Layout = "../Shared/_Layout.cshtml";
}

<h1>רשימת משתמשים</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetUserTypeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-email="@item.Email">עריכה</a> |
                <a asp-action="Details" asp-route-email="@item.Email">פרטים</a> |
                <a asp-action="Delete" asp-route-email="@item.Email">מחיקה</a>
            </td>
        </tr>
}
    </tbody>
</table>
